$max-width: 1080px;

//used mostly on divs to be the outer container of the section
.container {
    @include outer-container;
}

.left, .right {
    @include span-columns(12);
}

.twelve-col {
    @include span-columns(12);
    margin-top: 20px;
}

@media only screen and (min-width: 750px) {
    .container {
        position: relative;

        .left {
            @include span-columns(6);
            @include omega;
        }

        .right {
            @include span-columns(5);
            @include shift(1);
        }
    }

}
