$iphone6-width: 375px;
$iphone6-height: 667px;

$iphone6plus-width: 414px;
$iphone6plus-height: 736px;

$iphone5-width: 320px;
$iphone5-height: 568px;

$iphone4-width: 320px;
$iphone4-height: 480px;

$white: #fff;
$black: #000;
$blue: #041E41;
$orange: #FF4100;
