html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *::after, *::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-size: 62.5%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro-Regular.otf") format("truetype"); }

section {
  padding: 0 20px; }

.offscreen {
  display: block;
  position: absolute;
  left: -999999px;
  top: -999999px; }

body {
  font-family: 'Myriad Pro', sans-serif;
  color: #fff; }

p {
  font-size: 1.6em;
  line-height: 130%; }

a {
  text-decoration: none;
  color: #fff; }

.font-orange {
  color: #FF4100; }

.font-thirty {
  font-size: 3.0em; }

nav {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 60px;
  padding: 18px 20px 0;
  z-index: 6; }
  nav .container {
    text-align: center; }
    nav .container img {
      position: relative;
      width: 96px;
      z-index: 6; }
    nav .container #nav-icon {
      position: absolute;
      width: 1.8em;
      height: 28px;
      cursor: pointer;
      -webkit-transition: margin-right .5s;
      transition: margin-right .5s;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg); }
      nav .container #nav-icon span {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background: #041E41;
        left: 0;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out; }
      nav .container #nav-icon span:nth-child(1) {
        top: 6px; }
      nav .container #nav-icon span:nth-child(2), nav .container #nav-icon span:nth-child(3) {
        top: 12px; }
      nav .container #nav-icon span:nth-child(4) {
        top: 18px; }
    nav .container #nav-icon.open {
      z-index: 4; }
      nav .container #nav-icon.open span {
        background: #fff; }
      nav .container #nav-icon.open span:nth-child(1) {
        top: 12px;
        width: 0%;
        left: 50%; }
      nav .container #nav-icon.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      nav .container #nav-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      nav .container #nav-icon.open span:nth-child(4) {
        top: 12px;
        width: 0%;
        left: 50%; }
    nav .container #nav-links {
      position: fixed;
      background-color: #041E41;
      width: 100%;
      left: 0;
      top: -100%;
      overflow-y: scroll;
      z-index: 3;
      -webkit-transition: top .5s ease-in-out, padding 0.5s ease-in-out;
      transition: top .5s ease-in-out, padding 0.5s ease-in-out; }
      nav .container #nav-links ul {
        padding: 2em 0; }
        nav .container #nav-links ul li {
          position: relative;
          font-size: 1.8em;
          padding: 0.5em 20px;
          text-align: left; }
          nav .container #nav-links ul li .first-level {
            cursor: pointer; }
        nav .container #nav-links ul.second-level {
          max-height: 0;
          overflow: hidden;
          padding: 0;
          -webkit-transition: max-height 0.5s ease, padding 0.4s linear;
          transition: max-height 0.5s ease, padding 0.4s linear; }
          nav .container #nav-links ul.second-level li {
            font-size: 1.0em; }
          nav .container #nav-links ul.second-level.open {
            max-height: 400px;
            padding-top: 0.5em;
            -webkit-transition: max-height 1s ease, padding 0.5s linear;
            transition: max-height 1s ease, padding 0.5s linear; }
    nav .container #nav-links.popup {
      top: 0;
      padding: 6em 0 2em;
      z-index: 3;
      -webkit-transition: top .5s ease-in-out, padding 0.5s ease-in-out;
      transition: top .5s ease-in-out, padding 0.5s ease-in-out; }

.hero {
  background-color: #041E41;
  background-image: url(../assets/background-hero.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .hero .container {
    width: 100%;
    height: 100%;
    text-align: center; }
    .hero .container p {
      position: relative;
      color: #fff;
      font-size: 6.0em;
      line-height: 110%;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    .hero .container img {
      position: absolute;
      width: 12px;
      bottom: 2em;
      margin: 0 auto;
      left: 0;
      right: 0; }

.summary {
  background-color: #041E41;
  padding-top: 24px;
  padding-bottom: 24px; }
  .summary .container p {
    padding-bottom: 2em; }
    .summary .container p.padding-bottom {
      padding-bottom: 0.75em; }
  .summary .container img {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%;
    margin-bottom: 2em; }
    .summary .container img:last-child {
      margin-right: 0; }
