html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *::after, *::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.left, .right {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .left:last-child, .right:last-child {
    margin-right: 0; }

.twelve-col {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 20px; }
  .twelve-col:last-child {
    margin-right: 0; }

@media only screen and (min-width: 750px) {
  .container {
    position: relative; }
    .container .left {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-right: 0; }
      .container .left:last-child {
        margin-right: 0; }
    .container .right {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%;
      margin-left: 8.5298%; }
      .container .right:last-child {
        margin-right: 0; } }

@-webkit-keyframes arrow-down {
  from {
    bottom: 4em; }
  to {
    bottom: 2em; } }

@keyframes arrow-down {
  from {
    bottom: 4em; }
  to {
    bottom: 2em; } }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-size: 62.5%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro-Regular.otf") format("truetype"); }

@font-face {
  font-family: 'icomoon';
  src: url(../fonts/icomoon.eot?x15qb8);
  src: url(../fonts/icomoon.eot?x15qb8#iefix) format("embedded-opentype"), url(../fonts/icomoon.ttf?x15qb8) format("truetype"), url(../fonts/icomoon.woff?x15qb8) format("woff"), url(../fonts/icomoon.svg?x15qb8#icomoon) format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-magnified:before {
  content: "\e90a"; }

.icon-transformation:before {
  content: "\e90b"; }

.icon-org:before {
  content: "\e90c"; }

.icon-pointer:before {
  content: "\e90d"; }

.icon-lightbulb:before {
  content: "\e90e"; }

.icon-linkedin:before {
  content: "\e906"; }

.icon-microsoft:before {
  content: "\e907"; }

.icon-twitter:before {
  content: "\e908"; }

.icon-youtube:before {
  content: "\e909"; }

.icon-right-chevron:before {
  content: "\e900";
  font-size: .7em; }

.icon-down-arrow:before {
  content: "\e901"; }

.icon-up-chevron:before {
  content: "\e902"; }

.icon-left-arrow:before {
  content: "\e903"; }

.icon-right-arrow:before {
  content: "\e904"; }

.icon-down-chevron:before {
  content: "\e905"; }

section {
  padding: 3em 20px; }

.offscreen {
  display: block;
  position: absolute;
  left: -999999px;
  top: -999999px; }

.first-level {
  position: relative; }
  .first-level a {
    display: block; }
  .first-level::after {
    content: "\e905";
    font-family: 'icomoon' !important;
    font-size: 8px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%) rotate(0deg);
    -ms-transform: translateY(-50%) rotate(0deg);
    transform: translateY(-50%) rotate(0deg);
    z-index: 0;
    -webkit-transition: -webkit-transform 0.35s ease;
    transition: -webkit-transform 0.35s ease;
    transition: transform 0.35s ease;
    transition: transform 0.35s ease, -webkit-transform 0.35s ease; }
  .first-level.open::after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: -webkit-transform 0.25s ease;
    transition: -webkit-transform 0.25s ease;
    transition: transform 0.25s ease;
    transition: transform 0.25s ease, -webkit-transform 0.25s ease; }

ul.second-level {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  -webkit-transition: max-height 0.5s ease, padding 0.4s linear;
  transition: max-height 0.5s ease, padding 0.4s linear; }
  ul.second-level.open {
    max-height: 500px;
    -webkit-transition: max-height 1s ease, padding 0.5s linear;
    transition: max-height 1s ease, padding 0.5s linear; }

@media only screen and (min-width: 550px) {
  section {
    padding: 6em 30px; }
    section.hero {
      padding-bottom: 0; } }

@media only screen and (min-width: 750px) {
  section {
    padding: 8em 30px; } }

body {
  font-family: 'Myriad Pro', sans-serif;
  color: #fff; }

p {
  font-size: 1.6em;
  line-height: 140%; }

a {
  font-size: 16px;
  text-decoration: none;
  color: #fff; }

a.button {
  display: block;
  padding: 1em 1.3em;
  color: #FF4100;
  text-align: center;
  border: 1px solid #FF4100;
  max-width: 170px;
  margin: 2em auto; }

h2 {
  font-size: 1.1em;
  border-left: 1px solid #FF4100;
  border-top: 1px solid #FF4100;
  padding: 0.5em 0 0 0.5em;
  color: #FF4100;
  margin-bottom: 2em; }

hr {
  border: 0; }

.font-orange {
  color: #FF4100; }

.font-lilac {
  color: #D2D0D5; }

.font-white {
  color: #fff; }

.font-thirty {
  font-size: 3.0em; }

.caps {
  text-transform: uppercase; }

nav {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  padding: 18px 20px;
  z-index: 6; }
  nav .container {
    text-align: center; }
    nav .container img {
      position: relative;
      width: 96px;
      z-index: 6; }
    nav .container #nav-icon {
      position: absolute;
      width: 1.8em;
      height: 28px;
      cursor: pointer;
      -webkit-transition: margin-right .5s;
      transition: margin-right .5s;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg); }
      nav .container #nav-icon span {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background: #041E41;
        left: 0;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out; }
      nav .container #nav-icon span:nth-child(1) {
        top: 6px; }
      nav .container #nav-icon span:nth-child(2), nav .container #nav-icon span:nth-child(3) {
        top: 12px; }
      nav .container #nav-icon span:nth-child(4) {
        top: 18px; }
    nav .container #nav-icon.open {
      z-index: 4; }
      nav .container #nav-icon.open span {
        background: #fff; }
      nav .container #nav-icon.open span:nth-child(1) {
        top: 12px;
        width: 0%;
        left: 50%; }
      nav .container #nav-icon.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      nav .container #nav-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      nav .container #nav-icon.open span:nth-child(4) {
        top: 12px;
        width: 0%;
        left: 50%; }
    nav .container #nav-links {
      position: fixed;
      background-color: #041E41;
      height: 100vh;
      width: 100%;
      left: 0;
      top: -100%;
      overflow: hidden;
      z-index: 3;
      -webkit-transition: top .5s ease-in-out, padding 0.5s ease-in-out;
      transition: top .5s ease-in-out, padding 0.5s ease-in-out; }
      nav .container #nav-links .container {
        height: 100%;
        padding: 0 20px;
        overflow-y: scroll; }
        nav .container #nav-links .container hr {
          border-top: 1px solid #364B67; }
        nav .container #nav-links .container ul {
          padding: 1em 0; }
          nav .container #nav-links .container ul li {
            position: relative;
            font-size: 1.8em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            text-align: left; }
            nav .container #nav-links .container ul li a {
              font-size: 1.0em; }
            nav .container #nav-links .container ul li .first-level {
              cursor: pointer; }
              nav .container #nav-links .container ul li .first-level::after {
                z-index: -1; }
          nav .container #nav-links .container ul.second-level {
            padding: 0; }
            nav .container #nav-links .container ul.second-level li {
              padding-left: 1em; }
      nav .container #nav-links.popup {
        top: 0;
        padding: 6em 0 2em;
        z-index: 3;
        -webkit-transition: top .5s ease-in-out, padding 0.5s ease-in-out;
        transition: top .5s ease-in-out, padding 0.5s ease-in-out; }

@media only screen and (min-width: 550px) {
  nav {
    padding-left: 30px; }
    nav .container #nav-links > .container {
      padding-left: 30px;
      padding-right: 30px; } }

.hero {
  background-color: #041E41;
  background-image: url(../assets/background-hero.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 2em; }
  .hero .container {
    width: 100%;
    height: 100%;
    text-align: center; }
    .hero .container p {
      position: relative;
      color: #fff;
      font-size: 6.0em;
      line-height: 110%;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    .hero .container img {
      position: absolute;
      width: 12px;
      bottom: 4em;
      margin: 0 auto;
      left: 0;
      right: 0;
      -webkit-animation: arrow-down 1s 4;
      animation: arrow-down 1s 4;
      -webkit-animation-direction: alternate;
      animation-direction: alternate;
      -webkit-transition: bottom 0.25s ease-in-out;
      transition: bottom 0.25s ease-in-out; }
      .hero .container img:hover, .hero .container img:focus {
        bottom: 2em; }
  .hero.people {
    background-image: url(../assets/background-people.jpg);
    background-position: top center;
    margin-top: 60px;
    height: 300px; }

.blue-and-white {
  background-color: #041E41; }
  .blue-and-white .container p {
    padding-bottom: 2em; }
    .blue-and-white .container p.padding-bottom {
      padding-bottom: 0.75em; }
    .blue-and-white .container p.no-padding-bottom {
      padding-bottom: 0; }
  .blue-and-white .container img {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%;
    margin-bottom: 2em; }
    .blue-and-white .container img:last-child {
      margin-right: 0; }
  .blue-and-white .container .headers::before {
    color: #FF4100;
    font-size: 5.0em;
    float: left;
    width: 70px;
    text-align: center;
    margin-right: 25px; }
  .blue-and-white .container .headers p {
    font-family: 'Myriad Pro', sans-serif; }

@media only screen and (min-width: 750px) {
  .blue-and-white .container .left, .blue-and-white .container .right {
    display: inline-block;
    float: none;
    vertical-align: middle; }
  .blue-and-white .container img {
    margin: 0;
    width: 100%; } }

.carousel {
  background-image: url(../assets/background-spotlight.jpg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-transition: background-position 0.25s linear, background-size 0.25s linear;
  transition: background-position 0.25s linear, background-size 0.25s linear; }
  .carousel .container {
    position: relative;
    background-color: rgba(255, 255, 255, 0.95);
    color: #FF4100;
    padding: 3em;
    max-width: 675px; }
    .carousel .container h3 {
      color: #041E41;
      font-size: 2.0em;
      margin-bottom: 1.4em; }
    .carousel .container hr {
      border-top: 1px solid #D2D0D5;
      margin: 20px 0; }
    .carousel .container p {
      font-size: 1.6em;
      color: #041E41;
      margin-bottom: .5em; }
      .carousel .container p.icon-right-chevron::before {
        color: #FF4100; }
    .carousel .container > #owl-status {
      display: block;
      position: absolute;
      text-align: center;
      width: 100%;
      height: 25px;
      left: 0;
      bottom: 30px;
      font-size: 1.4em;
      margin-bottom: 0; }
    .carousel .container .buttons {
      padding: 0.1em 0; }

.owl-nav {
  margin: 20px auto 0;
  text-align: center;
  width: 140px;
  height: 25px; }
  .owl-nav .owl-prev, .owl-nav .owl-next {
    display: inline-block;
    color: #041E41;
    font-size: 1.8em;
    height: 100%; }
    .owl-nav .owl-prev.disabled, .owl-nav .owl-next.disabled {
      cursor: default; }
  .owl-nav .owl-prev {
    float: left; }
    .owl-nav .owl-prev::before {
      content: "\e903";
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
  .owl-nav .owl-next {
    float: right; }
    .owl-nav .owl-next::before {
      content: "\e904";
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }

@media only screen and (min-width: 500px) {
  .carousel .container {
    max-width: 650px; }
    .carousel .container h2 {
      max-width: 450px;
      margin-left: auto;
      margin-right: auto; }
    .carousel .container .slides {
      max-width: 450px;
      margin: 0 auto; }
      .carousel .container .slides .buttons a.button {
        display: inline-block;
        margin-left: 0;
        margin-right: 30px; } }

@media only screen and (min-width: 675px) {
  .carousel {
    background-position: right center;
    background-size: 135% auto;
    -webkit-transition: background-position 0.25s ease, background-size 0.25s ease;
    transition: background-position 0.25s ease, background-size 0.25s ease; }
    .carousel .container {
      margin-right: 0;
      padding-top: 6em;
      padding-bottom: 6em; }
      .carousel .container .owl-carousel .owl-nav {
        position: absolute;
        top: 50%;
        margin: 0;
        width: 100%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); } }

@media only screen and (min-width: 860px) {
  .carousel {
    background-position: right center;
    background-size: 120% auto;
    -webkit-transition: background-position 0.25s linear, background-size 0.25s linear;
    transition: background-position 0.25s linear, background-size 0.25s linear; } }

@media only screen and (min-width: 930px) {
  .carousel {
    background-position: right center;
    background-size: 110% auto;
    -webkit-transition: background-position 0.25s linear, background-size 0.25s linear;
    transition: background-position 0.25s linear, background-size 0.25s linear; } }

@media only screen and (min-width: 1050px) {
  .carousel {
    background-position: center;
    background-size: 100%;
    -webkit-transition: background-position 0.25s linear, background-size 0.25s linear;
    transition: background-position 0.25s linear, background-size 0.25s linear; } }

.white-and-blue {
  color: #041E41;
  height: auto; }
  .white-and-blue .container {
    height: 100%; }
    .white-and-blue .container p {
      margin-bottom: 0.75em; }
    .white-and-blue .container .buttons {
      margin-top: 5em; }
      .white-and-blue .container .buttons a.button {
        margin-left: 0; }
    .white-and-blue .container .right {
      display: none; }

@media only screen and (min-width: 500px) {
  .white-and-blue .container {
    position: relative; }
    .white-and-blue .container .buttons {
      margin-top: 2em; }
      .white-and-blue .container .buttons a.button {
        display: inline-block;
        margin-left: 0;
        margin-right: 3em; } }

@media only screen and (min-width: 750px) {
  .white-and-blue .container .left, .white-and-blue .container .right {
    display: inline-block;
    float: none;
    vertical-align: middle; }
  .white-and-blue .container .buttons a.button {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-left: 0;
    max-width: 170px; }
    .white-and-blue .container .buttons a.button:last-child {
      margin-right: 0; }
  .white-and-blue .container .right img {
    width: 100%; } }

@media only screen and (min-width: 970px) {
  .white-and-blue .container .buttons a.button {
    margin-right: 30px; } }

.white-and-red {
  background-color: #fff;
  color: #FF4100; }
  .white-and-red .container p {
    text-align: center;
    max-width: 850px;
    margin: 0 auto; }
  .white-and-red .container a {
    color: #FF4100; }
  .white-and-red .container ul li.first-level {
    border-top: 1px solid #D2D0D5; }
    .white-and-red .container ul li.first-level a {
      position: relative;
      padding: 20px 0;
      z-index: 1; }
    .white-and-red .container ul li.first-level:last-child {
      border-bottom: 1px solid #D2D0D5; }
  .white-and-red .container ul.second-level li {
    margin-bottom: 2em; }
    .white-and-red .container ul.second-level li p {
      text-align: left;
      color: #041E41; }
    .white-and-red .container ul.second-level li p.title {
      color: #D2D0D5;
      font-size: 1.1em; }

.gray-and-blue {
  background-color: #F6F6F7; }
  .gray-and-blue .container {
    overflow: hidden; }
    .gray-and-blue .container #owl-status {
      display: none; }
    .gray-and-blue .container .slides {
      background-color: #fff;
      max-width: 435px;
      color: #041E41;
      text-align: center;
      padding: 0 0 10px;
      margin: 0 auto 60px; }
      .gray-and-blue .container .slides > .background {
        background-image: url(../assets/future.jpg);
        background-position: center top;
        background-size: auto 215px;
        padding: 10px 0; }
        .gray-and-blue .container .slides > .background p {
          font-size: 3.0em;
          width: 95%;
          padding-top: 0;
          margin: 0 auto 1em; }
        .gray-and-blue .container .slides > .background.agile {
          background-image: url(../assets/agile.jpg); }
      .gray-and-blue .container .slides h2 {
        border: none; }
      .gray-and-blue .container .slides p {
        width: 80%;
        padding: 30px 20px 0;
        margin: 0 auto; }

@media only screen and (min-width: 750px) {
  .gray-and-blue .container {
    position: relative; }
    .gray-and-blue .container #owl-status {
      display: block;
      position: absolute;
      width: 100%;
      bottom: 5px;
      text-align: center;
      color: #041E41;
      z-index: 0; }
    .gray-and-blue .container .inline-carousel .owl-item {
      display: inline-block; }
    .gray-and-blue .container .inline-carousel .owl-nav {
      position: relative;
      z-index: 1; } }

footer {
  background-color: #041E41;
  height: 60px;
  text-align: center;
  padding-top: 2em; }
  footer p {
    display: none; }
  footer span {
    font-size: 2.4em;
    margin-right: 0.4em; }
