html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *::after, *::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-size: 62.5%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro-Regular.otf") format("truetype"); }

@font-face {
  font-family: 'icomoon';
  src: url(../fonts/icomoon.eot?z5yt3d);
  src: url(../fonts/icomoon.eot?z5yt3d#iefix) format("embedded-opentype"), url(../fonts/icomoon.ttf?z5yt3d) format("truetype"), url(../fonts/icomoon.woff?z5yt3d) format("woff"), url(../fonts/icomoon.svg?z5yt3d#icomoon) format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-right-chevron:before {
  content: "\e900";
  font-size: 0.7em; }

.icon-down-arrow:before {
  content: "\e901"; }

.icon-up-chevron:before {
  content: "\e902"; }

.icon-left-arrow:before {
  content: "\e903"; }

.icon-right-arrow:before {
  content: "\e904"; }

.icon-down-chevron:before {
  content: "\e905"; }

section {
  padding: 0 20px; }

.offscreen {
  display: block;
  position: absolute;
  left: -999999px;
  top: -999999px; }

body {
  font-family: 'Myriad Pro', sans-serif;
  color: #fff; }

p {
  font-size: 1.6em;
  line-height: 140%; }

a {
  text-decoration: none;
  color: #fff; }

a.button {
  display: block;
  padding: 1.6em 2em;
  color: #FF4100;
  text-align: center;
  border: 1px solid #FF4100;
  width: 170px;
  margin: 2em auto; }

h2 {
  font-size: 1.1em;
  border-left: 1px solid #FF4100;
  border-top: 1px solid #FF4100;
  padding: 0.5em 0 0 0.5em;
  color: #FF4100;
  margin-bottom: 2em; }

hr {
  border: 0; }

.font-orange {
  color: #FF4100; }

.font-thirty {
  font-size: 3.0em; }

nav {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 60px;
  padding: 18px 20px 0;
  z-index: 6; }
  nav .container {
    text-align: center; }
    nav .container img {
      position: relative;
      width: 96px;
      z-index: 6; }
    nav .container #nav-icon {
      position: absolute;
      width: 1.8em;
      height: 28px;
      cursor: pointer;
      -webkit-transition: margin-right .5s;
      transition: margin-right .5s;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg); }
      nav .container #nav-icon span {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background: #041E41;
        left: 0;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out; }
      nav .container #nav-icon span:nth-child(1) {
        top: 6px; }
      nav .container #nav-icon span:nth-child(2), nav .container #nav-icon span:nth-child(3) {
        top: 12px; }
      nav .container #nav-icon span:nth-child(4) {
        top: 18px; }
    nav .container #nav-icon.open {
      z-index: 4; }
      nav .container #nav-icon.open span {
        background: #fff; }
      nav .container #nav-icon.open span:nth-child(1) {
        top: 12px;
        width: 0%;
        left: 50%; }
      nav .container #nav-icon.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      nav .container #nav-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      nav .container #nav-icon.open span:nth-child(4) {
        top: 12px;
        width: 0%;
        left: 50%; }
    nav .container #nav-links {
      position: fixed;
      background-color: #041E41;
      height: 100vh;
      width: 100%;
      left: 0;
      top: -100%;
      overflow: hidden;
      z-index: 3;
      -webkit-transition: top .5s ease-in-out, padding 0.5s ease-in-out;
      transition: top .5s ease-in-out, padding 0.5s ease-in-out; }
      nav .container #nav-links > .container {
        height: 100%;
        overflow-y: scroll; }
        nav .container #nav-links > .container hr {
          border-top: 1px solid #364B67; }
        nav .container #nav-links > .container ul {
          padding: 1em 0; }
          nav .container #nav-links > .container ul li {
            position: relative;
            font-size: 1.8em;
            padding: 0.5em 20px;
            text-align: left; }
            nav .container #nav-links > .container ul li .first-level {
              cursor: pointer; }
          nav .container #nav-links > .container ul.second-level {
            max-height: 0;
            overflow: hidden;
            padding: 0;
            -webkit-transition: max-height 0.5s ease, padding 0.4s linear;
            transition: max-height 0.5s ease, padding 0.4s linear; }
            nav .container #nav-links > .container ul.second-level > li {
              font-size: 1.0em; }
            nav .container #nav-links > .container ul.second-level.open {
              max-height: 400px;
              padding-top: 0.5em;
              -webkit-transition: max-height 1s ease, padding 0.5s linear;
              transition: max-height 1s ease, padding 0.5s linear; }
      nav .container #nav-links.popup {
        top: 0;
        padding: 6em 0 2em;
        z-index: 3;
        -webkit-transition: top .5s ease-in-out, padding 0.5s ease-in-out;
        transition: top .5s ease-in-out, padding 0.5s ease-in-out; }

.hero {
  background-color: #041E41;
  background-image: url(../assets/background-hero.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .hero .container {
    width: 100%;
    height: 100%;
    text-align: center; }
    .hero .container p {
      position: relative;
      color: #fff;
      font-size: 6.0em;
      line-height: 110%;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    .hero .container img {
      position: absolute;
      width: 12px;
      bottom: 2em;
      margin: 0 auto;
      left: 0;
      right: 0; }

.summary {
  background-color: #041E41;
  padding-top: 24px;
  padding-bottom: 24px; }
  .summary .container p {
    padding-bottom: 2em; }
    .summary .container p.padding-bottom {
      padding-bottom: 0.75em; }
  .summary .container img {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%;
    margin-bottom: 2em; }
    .summary .container img:last-child {
      margin-right: 0; }

.carousel {
  background-image: url(../assets/background-spotlight.jpg);
  background-position: left -2.4em center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3em 20px; }
  .carousel .container {
    position: relative;
    background-color: rgba(255, 255, 255, 0.95);
    color: #FF4100;
    padding: 3em;
    max-width: 675px; }
    .carousel .container h3 {
      color: #041E41;
      font-size: 2.0em;
      margin-bottom: 1.4em; }
    .carousel .container hr {
      border-top: 1px solid #D2D0D5;
      margin: 20px 0; }
    .carousel .container p {
      font-size: 1.6em;
      color: #041E41;
      margin-bottom: .5em; }
      .carousel .container p.icon-right-chevron::before {
        color: #FF4100; }
    .carousel .container > #owl-status {
      display: block;
      position: absolute;
      text-align: center;
      width: 100%;
      height: 25px;
      left: 0;
      bottom: 30px;
      font-size: 1.4em;
      margin-bottom: 0; }
    .carousel .container .buttons {
      padding: 0.1em 0; }
    .carousel .container .owl-carousel .owl-nav {
      margin: 20px auto 0;
      text-align: center;
      width: 140px;
      height: 25px; }
      .carousel .container .owl-carousel .owl-nav .owl-prev, .carousel .container .owl-carousel .owl-nav .owl-next {
        display: inline-block;
        color: #041E41;
        font-size: 1.8em;
        height: 100%; }
        .carousel .container .owl-carousel .owl-nav .owl-prev.disabled, .carousel .container .owl-carousel .owl-nav .owl-next.disabled {
          cursor: default; }
      .carousel .container .owl-carousel .owl-nav .owl-prev {
        float: left; }
        .carousel .container .owl-carousel .owl-nav .owl-prev::before {
          content: "\e903";
          font-family: 'icomoon' !important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }
      .carousel .container .owl-carousel .owl-nav .owl-next {
        float: right; }
        .carousel .container .owl-carousel .owl-nav .owl-next::before {
          content: "\e904";
          font-family: 'icomoon' !important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }

.insights {
  color: #041E41;
  padding: 3em 20px; }
  .insights p {
    margin-bottom: 0.75em; }
  .insights .buttons {
    margin-top: 5em; }
    .insights .buttons a.button {
      margin-left: 0; }
