.blue-and-white {
    background-color: $blue;

    .container {
        p {
            padding-bottom: 2em;

            &.padding-bottom {
                padding-bottom: 0.75em;
            }

            &.no-padding-bottom {
                padding-bottom: 0;
            }
        }

        img {
            @include span-columns(10);
            @include shift(1);
            margin-bottom: 2em;
        }

        .headers {

            &::before {
                color: $orange;
                font-size: 5.0em;
                float: left;
                width: 70px;
                text-align: center;
                margin-right: 25px;
            }

            p {
                font-family: 'Myriad Pro', sans-serif;
            }
        }
    }
}

@media only screen and (min-width: 750px) {
    .blue-and-white {
        .container {
            .left, .right {
                display: inline-block;
                float: none;
                vertical-align: middle;
            }

            img {
                margin: 0;
                width: 100%;
            }
        }
    }
}
