.hero {
    background-color: $blue;
    background-image: url(../assets/background-hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding-top: 2em;

    .container {
        width: 100%;
        height: 100%;
        text-align: center;

        p {
            position: relative;
            color: $white;
            font-size: 6.0em;
            line-height: 110%;

            top: 50%;
            transform: translateY(-50%);

        }

        img {
            position: absolute;
            width: 12px;
            bottom: 4em;
            margin: 0 auto;
            left: 0;
            right: 0;

            animation: arrow-down 1s 4;
            animation-direction: alternate;
            transition: bottom 0.25s ease-in-out;

            &:hover, &:focus {
                bottom: 2em;
            }
        }
    }
}
