.insights {
    color: $blue;
    padding: 3em 20px;

    p {
        margin-bottom: 0.75em;
    }

    .buttons {
        margin-top: 5em;

        a.button {
            margin-left: 0;
        }
    }

}
