nav {
    background-color: $white;
    position: fixed;
    width: 100%;
    height: 60px;
    padding: 18px 20px 0;

    z-index: 6;

    .container {
        text-align: center;

        img {
            position: relative;
            width: 96px;
            z-index: 6;
        }

        #nav-icon {
            position: absolute;
            width: 1.8em;
            height: 28px;
            cursor: pointer;

            transition: margin-right .5s;
            transform: rotate(0deg);

            span {
                position: absolute;
                display: block;
                width: 100%;
                height: 2px;
                background: $blue;
                left: 0;

                transform: rotate(0deg);
                transition: all .25s ease-in-out;
            }

            span:nth-child(1) {
                top: 6px;
            }

            span:nth-child(2), span:nth-child(3) {
                top: 12px;
            }

            span:nth-child(4) {
                top: 18px;
            }
        }

        #nav-icon.open {
            z-index: 4;

            span {
                background: $white;
            }

            span:nth-child(1) {
                top: 12px;
                width: 0%;
                left: 50%;
            }

            span:nth-child(2) {
                transform: rotate(45deg);
            }

            span:nth-child(3) {
                transform: rotate(-45deg);
            }

            span:nth-child(4) {
                top: 12px;
                width: 0%;
                left: 50%;
            }
        }

        #nav-links {
            position: fixed;
            background-color: $blue;
            height: 100vh;
            width: 100%;
            left: 0;
            top: -100%;
            overflow: hidden;

            z-index: 3;
            transition: top .5s ease-in-out, padding 0.5s ease-in-out;

            > .container {
                height: 100%;
                overflow-y: scroll;

                hr {
                    border-top: 1px solid $ocean;
                }

                ul {
                    padding: 1em 0;

                    li {
                        position: relative;
                        font-size: 1.8em;
                        padding: 0.5em 20px;
                        text-align: left;

                        .first-level {
                            cursor: pointer;
                        }
                    }

                    &.second-level {
                        max-height: 0;
                        overflow: hidden;
                        padding: 0;

                        transition: max-height 0.5s ease, padding 0.4s linear;

                        > li {
                            font-size: 1.0em;
                        }

                        &.open {
                            max-height: 400px;
                            padding-top: 0.5em;

                            transition: max-height 1s ease, padding 0.5s linear;
                        }
                    }
                }
            }

            &.popup {
                top: 0;
                padding: 6em 0 2em;
                z-index: 3;

                transition: top .5s ease-in-out, padding 0.5s ease-in-out;

            }
        }
    }
}
