.white-and-blue {
    color: $blue;
    height: auto;

    .container {
        height: 100%;

        p {
            margin-bottom: 0.75em;
        }

        .buttons {
            margin-top: 5em;

            a.button {
                margin-left: 0;
            }
        }

        .right {
            display: none;
        }
    }
}

@media only screen and (min-width: 500px) {
    .white-and-blue {
        .container {
            position: relative;

            .buttons {
                margin-top: 2em;
                // text-align: center;

                a.button {
                    display: inline-block;
                    margin-left: 0;
                    margin-right: 3em;
                }
            }
        }
    }
}

@media only screen and (min-width: 750px) {
    .white-and-blue {
        .container {

            .left, .right {
                display: inline-block;
                float: none;
                vertical-align: middle;
            }

            .buttons {
                a.button {
                    @include span-columns(6);
                    margin-left: 0;
                    max-width: 170px;
                }
            }

            .right {
                img {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (min-width: 970px) {
    .white-and-blue {
        .container {
            .buttons {
                a.button {
                    margin-right: 30px;
                }
            }
        }
    }
}
