body {
    font-family: 'Myriad Pro', sans-serif;
    color: $white;
}

p {
    font-size: 1.6em;
    line-height: 130%;
}

a {
    text-decoration: none;
    color: $white;
}

.font-orange {
    color: $orange;
}

.font-thirty {
    font-size: 3.0em;
}
