body {
    font-family: 'Myriad Pro', sans-serif;
    color: $white;
}

p {
    font-size: 1.6em;
    line-height: 140%;
}

a {
    font-size: 16px;
    text-decoration: none;
    color: $white;
}

a.button {
    display: block;
    padding: 1em 1.3em;
    color: $orange;
    text-align: center;
    border: 1px solid $orange;
    max-width: 170px;
    margin: 2em auto;
}

h2 {
    font-size: 1.1em;
    border-left: 1px solid $orange;
    border-top: 1px solid $orange;
    padding: 0.5em 0 0 0.5em;
    color: $orange;
    margin-bottom: 2em;

}

hr {
    border: 0;
}

.font-orange {
    color: $orange;
}

.font-lilac {
    color: $lilac;
}

.font-thirty {
    font-size: 3.0em;
}

.caps {
    text-transform: uppercase;
}
